


  
  /* Estilos para el contenedor de la imagen */
  .container {
    width: 10%; /* Ancho del contenedor */
    height: auto; /* Altura del contenedor */
    border: 1px solid #ccc; /* Solo para visualizar el contenedor */
  }
  


  